* {
    margin: 0;
    box-sizing: border-box;
}
ion-content {
    --overflow: hidden;
    overflow: hidden;
 }
 
#container {
    display: flex;
    flex-flow: column;
    align-items: center;
    justify-content: space-evenly;
    min-height: 100vh;
    padding: 0 10vw 0 10vw;
}
.inputLogin {
    border: 2px solid #4a98ff;
    // height: 8vh;
    padding: 2em 0;
    border-radius: 7px;
    margin: 3vh 0 5vh 0;
    padding-left: 10%;
}
.logoPAE {
    width: 75%;
    margin: auto;
    margin-bottom: 5vh;
    margin-top: 5vh;
}
.labelLogin {
    font-size: 1.1875rem;
}
#rounded {
    width: 100%;
    height: 100px;
    // -moz-border-radius: 50px;
    // -webkit-border-radius: 50px;
    border-radius: 10px;
    // margin-bottom: 10px;
}
ion-input {
    --padding-start: 5vw;
}
ion-button{
    text-transform: none;
}

//BOTONERA
.loginBottom {
    display: flex;
    flex-flow: column;
    width: 100%;
    padding: 5vh 0 10vh 0;
}
.loginButton{

}
#scanButton{
    border: 1px solid var(--ion-color-azul);
    border-radius: 7px;
    height: 8vh;
    font-size: 1.225rem;
}
.button-inner{
    color: var(--ion-color-azul);

}