<ion-content>
  <div id="container">
    <!-- <ion-progress-bar [value]="this.progressBar"></ion-progress-bar> -->
    <!-- <div class="loginTop">
      <ion-img class="logoPAE" src='../../assets/LogoPAE.svg'></ion-img>

      <ion-label class="labelLogin">DNI</ion-label>
      <ion-input #Field1 class="inputLogin" (keyup)="gotoNextField($event)" type="number" [(ngModel)]="dni">
      </ion-input>
      (keydown.Period)="swallow()"

      <ion-label class="labelLogin">Nro Tramite</ion-label>
      <ion-input #nroTramite class="inputLogin" type="number" (keyup.Enter)="swallow()" maxlength="11" placeholder="ej: 0012312368124">
      </ion-input>
      <ion-button class="loginButton">Ingresar</ion-button>
    </div> -->

    <div class="loginBottom"> 
      <ion-button [routerLink]="['/evaluacion']"color="light" id="scanButton">go wev</ion-button>
      <ion-button (click)="scanDNI()" color="light" id="scanButton">Escanear DNI</ion-button>
      <p>Control de salud preventivo</p>
      <!-- -->
    </div>
  </div>
</ion-content>