*{
    margin:0;
    padding:0;
    box-sizing: border-box;

}

.header{
    // width: 100vw;
    display: block;
    // flex-flow: column;
    // align-items: center;
}
.pregunta{
    display:flex;
    flex-flow: column;
    // margin:0vh 4em;

    // width:50%;
}
.botonera{
    // margin:auto;
    width:100%;
}
.botonSiguiente{
    width:100%;
}
ion-checkbox{
    --border-radius:3px;
}
.boton-base{
    border:1px solid blue;
    border-radius:4px;
}
.opcion{
    display: flex;
    flex-flow: row;
    margin: 0.5em 0;
}
.checkbox{
    height:2em;
    width:2em;
    margin-right: 0.5em;
}
.enunciado{
    font-family: "Open-Sans-SemiBold";
    font-size:1.625rem;
    width: fit-content;
    margin-left: auto;
    margin-right: auto;
    // align-self: center;
}

.container-enunciado{
    // display: flex;
    

}
#container{
    display:flex;
    flex-flow: column;
    align-items: center;
    justify-content: space-between;
    min-height: 100vh;
    width:80%;
    margin-left: auto;
    margin-right:auto;
    padding:2em 0;
}
#titulo{
    // margin:2vh 0;
    text-align: center;
    font-size:1.1125rem;
    font-family: "Open-Sans-Regular";
}
#progressBar{
    // width:50%;
    border-radius: 8px;
    height:8px;
    // margin-bottom: 25vh;
}