<ion-content>
  <div id="container">
    <div class="header">
      <h2 id="titulo">Registro</h2>

      <ion-progress-bar id="progressBar" [value]="progressBarValue"></ion-progress-bar>
    </div>


    <div *ngIf="respuestas.length>0" class="pregunta">
     <div class="container-enunciado"> <h1 class="enunciado">{{respuestas[0].enunciado}}</h1></div>


      <!-- Single answer Multiple choices -->
      <ion-list>
        <div class="boton-base opcion" (click)=limpiarRespuestas(respuesta.valor)
          *ngFor="let respuesta of respuestas[0].respuestas">
          <ion-checkbox class="checkbox" slot="start" [(ngModel)]="respuesta.seleccionada"></ion-checkbox>
          <ion-label class="respuesta">{{respuesta.valor}}</ion-label>
        </div>
      </ion-list>

    </div>
    <div class="boton-base botonera">
      <ion-button class="botonSiguiente" (click)="preguntaSiguiente()">
        Siguiente
      </ion-button>
    </div>

      <!-- Multiple answer Multiple choices -->

      <!-- <ion-list>
        <div class="opcion" *ngFor="let respuesta of respuestas">
          <ion-checkbox class="checkbox"  slot="start"
          [(ngModel)]="respuesta.seleccionada"></ion-checkbox>
          <ion-label>{{respuesta.valor}}</ion-label>
        </div>
      </ion-list> -->


      <!-- Single answer Multiple choices con Input (Input queda en el mismo renglon) -->
      <!-- <ion-list>
        <div class="opcion" (click)="limpiarRespuestas(respuesta.valor)" *ngFor="let respuesta of respuestas">
          <ion-checkbox class="checkbox"  slot="start"
          [(ngModel)]="respuesta.seleccionada"></ion-checkbox>
          <ion-label>{{respuesta.valor}}</ion-label>
          <br><div *ngIf="respuesta.tieneInput"
          class="inputOtros">
          <ion-input type="text" aria-placeholder="EJ:"></ion-input>
          </div>
        </div>
      </ion-list> -->

      <!-- <ion-radio-group class="radio">
  
        <ion-item>
          <ion-label>BS AS</ion-label>
          <ion-radio class="radio" slot="start" value="biff"></ion-radio>
        </ion-item>
    
        <ion-item>
          <ion-label>GSJ</ion-label>
          <ion-radio slot="start" value="griff"></ion-radio>
        </ion-item>
    
        <ion-item>
          <ion-label>Campana</ion-label>
          <ion-radio slot="start" value="buford"></ion-radio>
        </ion-item>
      </ion-radio-group> -->

  </div>

</ion-content>